.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      max-width: 250px;
      align-self: center;
      background-color: var(--project-card-bg);
      border-radius: 20px;
    }
  
    .projectCardDescription {
      display: block;
      text-align: center; /* Centers the text under the image */
      word-wrap: break-word; /* Ensures long words break to fit */
      margin: 0 auto;
      max-width: 90%; /* Adjust as needed for your design */
      line-height: 1.5; /* Increases spacing between lines for readability */
    }



    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  }
  
  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  @media (width >= 800px) {
    .projectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
  }